@import url(./globals.css);

/* latin-ext */
@font-face {
  font-family: 'Zalando Sans Expanded';
  font-style: normal;
  font-weight: 200 900;
  src: url(https://fonts.gstatic.com/s/zalandosansexpanded/v2/JTUJjJci8Cy470GaeFwsix1hi3aTmrgRwU-zokw7cX4.woff2)
    format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
    U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Zalando Sans Expanded';
  font-style: normal;
  font-weight: 200 900;
  src: url(https://fonts.gstatic.com/s/zalandosansexpanded/v2/JTUJjJci8Cy470GaeFwsix1hi3aTmrgRwU-zrEw7.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  font-family: 'Zalando Sans Expanded', sans-serif;
  background-color: var(--background);
}

body {
  font-family: 'Zalando Sans Expanded', sans-serif;
}

.title {
  font-size: 56px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 24px 0;
}

.samplePSD {
  position: absolute;
  right: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  font-size: 11px;
  padding: 8px;
}

.dragdrop {
  width: 80vw;
  padding: 32px;
  border: 2px dashed #222;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
  }
}

.dragdropWrapper {
  display: flex;
  justify-content: center;
}
.dragdropThumb {
  width: 120px;
  height: 120px;
  svg {
    width: inherit;
    height: inherit;
  }
  path {
    fill: #fff;
  }
}
.dragdropContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dragdropTitle {
  font-size: 24px;
  font-weight: 900;
}
.dragdropFile {
  font-style: italic;
  padding-top: 10px;
  opacity: 0.8;
}
.dragdropButton {
  font-size: 32px;
  background-color: #444;
  border-style: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.result {
  display: flex;
  gap: 24px;
  margin: 40px auto 0;
  width: 60vw;
  opacity: 0.1;
  transition: opacity 0.6s;
}
.resultBox {
  width: 50%;
}
.resultTitle {
  font-size: 20px;
  padding-bottom: 12px;
}
.resultThumb {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 16px;
  background-color: #111;
  img {
    width: calc(200px / 9 * 16);
    height: 200px;
    display: block;
    margin: auto;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
